name: my_reading_app
description: Ứng dụng đọc truyện tranh Offline của Tín.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=2.18.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  photo_view: ^0.15.0 
  cached_network_image: ^3.3.1 

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  flutter_launcher_icons: ^0.13.1 

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/images/icon.png"
  remove_alpha_ios: true

flutter:
  uses-material-design: true

  assets:
    - assets/images/icon.png
    - assets/chapters/chap1/ # Khai báo toàn bộ thư mục ảnh truyện